/* main.css */

body {
  background-color: white;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

main {
  padding: 0;
  margin: 0 auto;
}

button {
  color:black;
}

section {
  padding: 0;
  margin: 0;
  min-width: 290px;
  min-height: 120px;
  border-radius: 3px;
  background-color: #DCDCDC;
  text-align: center;
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

img {
  /*border-radius: 80px;*/
  /*display: none;*/
  width: 100%;
}

h2 {
  font-size: 1.7em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.person {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.row .slidedown {
  /*color: gray;*/
  display: none;
}

.detail .clickhere{
  font-size: 1em;
  margin: 0;
  padding: 0;
}
.detail .uin {
  padding: 0;
  display: none;
}
